body{
    background-color: burlywood;
}
h1{
    color: crimson;
}
p{
    font-size: 15px;
    text-align: justify;
    font-family: sans-serif;
    margin: 10px 10px 10px 10px;
}
#ex1{
    color: firebrick;
}
#ex2{
    color: blue;
}